body {
  margin: 0;
  display: flex;
  flex-direction: column; /* Added to arrange content in a column */
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
  min-height: 100vh; /* Use min-height to ensure footer alignment */
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* Allow the center div to grow vertically */
}

.logo-container img {
  max-width: 100%;
  height: auto;
}

.footer {
  text-align: center;
  padding: 20px 0; /* Add padding to top and bottom */
  background-color: #f0f0f0; /* For visibility */
}
